
services:
  mysql:
    image: mysql:8.0
    container_name: icctv-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: 1090119        # 数据库root密码（请自行修改）
      MYSQL_DATABASE: icctv_http_service                # 默认创建的数据库名
      MYSQL_USER: icctv                    # 业务用户
      MYSQL_PASSWORD: 1090119           # 业务用户密码
    ports:
      - "3307:3306"                        # 宿主机 3306 -> 容器 3306
    volumes:
      - icctv_mysql_data:/var/lib/mysql        # 使用 Docker 卷持久化数据

volumes:
  icctv_mysql_data:


